.input {
  min-width: 200px;
  height: 32px;
  padding: 0 var(--space-small);
  border-radius: var(--border-radius-small);
  border: 2px solid var(--border-color-light);
}

.errorText {
  color: var(--text-error);
  font-size: 0.85rem;
}
.label {
  font-weight: bold;
}
